[submodule "public"]
	path = public
	url = https://github.com/MuyaoXiao/muyaoxiao.github.io
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/mooxiu/hugo-bearblog.git
